/* cinzel-regular - latin */
@font-face {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cinzel-v9-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Cinzel Regular"), local("Cinzel-Regular"),
    url("../fonts/cinzel-v9-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/cinzel-v9-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/cinzel-v9-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/cinzel-v9-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/cinzel-v9-latin-regular.svg#Cinzel") format("svg"); /* Legacy iOS */
}
/* cinzel-700 - latin */
@font-face {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/cinzel-v9-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Cinzel Bold"), local("Cinzel-Bold"),
    url("../fonts/cinzel-v9-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/cinzel-v9-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/cinzel-v9-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/cinzel-v9-latin-700.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/cinzel-v9-latin-700.svg#Cinzel") format("svg"); /* Legacy iOS */
}
/* cinzel-900 - latin */
@font-face {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/cinzel-v9-latin-900.eot"); /* IE9 Compat Modes */
  src: local("Cinzel Black"), local("Cinzel-Black"),
    url("../fonts/cinzel-v9-latin-900.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/cinzel-v9-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/cinzel-v9-latin-900.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/cinzel-v9-latin-900.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/cinzel-v9-latin-900.svg#Cinzel") format("svg"); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v20-latin-300.eot"); /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../fonts/roboto-v20-latin-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v20-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v20-latin-300.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v20-latin-300.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto-v20-latin-300.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v20-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v20-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto-v20-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin-500.eot"); /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/roboto-v20-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v20-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v20-latin-500.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v20-latin-500.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto-v20-latin-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/roboto-v20-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v20-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v20-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v20-latin-700.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto-v20-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}

$highlight-color: #ba4947;
$highlight-color-light: lighten($highlight-color, 10%);
$color-eu: #003399;
$color-na: #b22234;
$color-eu-darkmode: lighten($color-eu, 25%);
$color-na-darkmode: lighten($color-na, 5%);

html {
  /*Fix scrollbar */
  margin-left: calc(100vw - 100%);
  min-height: 100%;
}

body {
  &.darkmode {
    & table.dataTable.fixedHeader-floating,
    & table.dataTable.fixedHeader-locked {
      background-color: #000 !important;
    }

    & .highcharts-scrollbar-track {
      fill: #333;
      stroke: #666;
    }

    & .highcharts-scrollbar-button {
      fill: #111;
      stroke: #666;
    }

    & .highcharts-scrollbar-thumb {
      fill: #111;
      stroke: #666 !important;
    }

    & ul.nav-pills > li > a,
    & .text-muted.branding {
      color: rgba(255, 255, 255, 0.7);

      &:hover {
        color: #fff;
      }
    }
  }
}

div.page-content {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100%;
}

.tooltip-inner {
  white-space: pre-wrap;
}

a {
  color: $highlight-color;
  text-decoration: none;
}

a:hover,
a:focus {
  color: $highlight-color-light;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;

  body.darkmode & {
    border-bottom: 1px solid #444 !important;
  }

  & h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;

  body.darkmode & {
    border-top: 1px solid #444 !important;
  }
}

/* Customize container */

@media (min-width: 768px) {
  .container {
    max-width: 760px;
  }
}

@media (max-width: 768px) {
  span.label-ppk-percentage {
    display: none;
  }
}

@media (min-width: 1023px) {
  .container {
    max-width: 1000px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */

.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 1023px) {
  body {
    &.lightmode {
      background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9)),
        url(../img/bg_lightmode.jpg);
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;

      & > div.page-content {
        background-color: #fff;
      }
    }

    &.darkmode {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url(../img/bg_darkmode.jpg);
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;

      & > div.page-content {
        background-color: #111;
      }
    }
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  div#chart-container,
  div#main-chart-container {
    width: 970px;
  }
}

@media screen and (min-width: 1279px) {
  div#chart-container,
  div#main-chart-container {
    width: 1140px;
  }
}

div#chart-container,
div#main-chart-container {
  height: 550px;
  padding: 0 2px 0 0 !important;
  position: relative;
}

div.information-addon {
  div#chart-container > & {
    width: 200px;
    position: absolute;
    right: -211px;
  }

  &#information-addon-timezones {
    width: 200px;
    position: absolute;
    left: -20px;
    top: 45px;
    z-index: 10;
  }

  &#information-addon-time-range-selection {
    width: 300px;
    position: absolute;
    z-index: 40;
    margin-left: 410px;
    margin-top: 18px;
  }

  & div.inner {
    padding: 5px 8px;

    & > ul {
      margin-top: 2px;

      & > li {
        display: block;
        position: relative;
        left: -25px;
      }
    }
  }
}

div#matchlist-container {
  margin-bottom: 30px;
}

div.chart-backgrounds {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

div.chart-backgrounds div.chart-background-kills {
  height: 215px;
  color: black;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  opacity: 0.3;
  text-transform: uppercase;
  padding: 15px;

  body.darkmode & {
    color: #aaa !important;
  }
}

div.chart-backgrounds div.chart-background-deaths {
  height: 165px;
  background-color: black;
  text-align: left;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  opacity: 0.3;
  text-transform: uppercase;
  padding: 15px;
  position: relative;
  color: lightgray;
}

div.chart-backgrounds div.chart-background-deaths p {
  position: absolute;
  bottom: 0px;
}

div#timezones > div.timezones-infos {
  margin-bottom: 15px;
}

div.matchlist-eyecatcher,
div.timezones-eyecatcher {
  min-width: 90px;
  height: 100%;
  display: inline-block;
}

div.matchlist-world-container {
  position: relative;
  top: 2px;
  left: -22px;
}

div.matchlist-stat-container {
  position: relative;
  top: 3px;
}

div.matchlist-stat-container > div.progress {
  margin-bottom: 0px !important;
  max-height: 18px;
  border-radius: 0.25em;
}

div.matchlist-stat-container > div.progress > div.progress-bar {
  padding: 3px;
  font-size: 8pt;
  font-weight: 700;
  line-height: 1;
}

.progress-bar-transparent {
  background-color: transparent !important;
  color: #000 !important;

  &.progressbar-before-range {
    text-align: right;
    padding-right: 5px;
  }

  &.progressbar-after-range {
    text-align: left;
    padding-left: 5px;
  }
}

.progress-bar-early,
.progress-bar-timezone {
  border-radius: 4px;
}

div.matchlist-eyecatcher span.matchlist-region {
  font-size: 30pt;
  font-weight: bold;
  opacity: 0.5;
  text-align: right;
  padding-right: 15px;
  display: block;
}

div.matchlist-eyecatcher span.matchlist-tier,
div.timezones-eyecatcher span.timezones-tier {
  font-size: 13pt;
  font-weight: bold;
  color: #999;
  margin-top: -16px;
  text-align: right;
  padding-right: 15px;
  display: block;
}

span.timezones-region {
  font-size: 30pt;
  font-weight: bold;
  // opacity: .5;
  text-align: right;
  padding-right: 15px;
  display: block;

  &.region-eu {
    body.darkmode & {
      color: $color-eu-darkmode;
    }

    body.lightmode & {
      color: $color-eu;
    }
  }

  &.region-na {
    body.darkmode & {
      color: $color-na-darkmode;
    }

    body.lightmode & {
      color: $color-na;
    }
  }
}

span.label-ppk-percentage {
  margin-left: 4px;
}

span.timezone-hint {
  body.darkmode & {
    color: rgba(255, 255, 255, 0.5);
  }
}

div#matchlist-container > div.list-group-item {
  padding: 2px 15px 10px 15px;
}

div#matchlist-container > div.list-group-item:hover {
  padding: 2px 11px 10px 11px;
}

div#matchlist-container > div.list-group-item {
  &.eu {
    &:hover {
      border-right: rgba($color-eu, 0.6) 5px solid;
      border-left: rgba($color-eu, 0.6) 5px solid;
    }

    & div.matchlist-eyecatcher span.matchlist-region.region-eu {
      body.darkmode & {
        color: $color-eu-darkmode;
      }

      body.lightmode & {
        color: $color-eu;
      }
    }
  }

  &.na {
    &:hover {
      border-right: rgba($color-na, 0.6) 5px solid;
      border-left: rgba($color-na, 0.6) 5px solid;
    }

    & div.matchlist-eyecatcher span.matchlist-region.region-na {
      color: $color-na;
    }
  }
}

div#matchlist {
  padding-left: 0px;
  padding-right: 30px;
}

div#matchlist-container div.list-group-item:hover {
  cursor: pointer;
}

div#matchlist-container div.list-group-item:hover div.matchlist-eyecatcher span.matchlist-region {
  opacity: 0.6;
}

div#matchlist-container div.list-group-item:hover div.matchlist-eyecatcher span.matchlist-tier {
  color: #ccc;
}

div.matchlist-worldlist span.world-color {
  padding-right: 6px;
  top: -1px;
  position: relative;
  font-size: 13pt;
  display: none;
}

a.match-container {
  body.darkmode & {
    color: #ddd;
  }

  body.lightmode & {
    color: #333;
  }

  text-decoration: none;
  display: block;
  width: 100%;
  margin-left: 10px;
  margin-top: 5px;
}

span.matchlist-last-update {
  text-align: right;
  color: #888;
  font-size: 0.75em;
  margin-top: 12px;
}

h2#match-title {
  margin-top: 0px !important;
}

h5#match-last-update {
  margin-top: 0px;
  margin-bottom: 3px;
  color: #777;
}

span#match-current-range-selection {
  margin-left: 3px;
}

h3#headline {
  cursor: pointer;
}

div.world-container > h4 {
  font-weight: bold;
}

div.col-map-name {
  &.map-name-ebg {
    body.darkmode & {
      color: #bbb;
    }

    body.lightmode & {
      color: #333;
    }
  }

  &.map-name-red {
    color: red;
  }

  &.map-name-green {
    color: green;
  }

  &.map-name-blue {
    color: blue;
  }
}

a.btn.reload-chart,
div.grp-options {
  margin-right: 10px;
}

div#match > a.get-shortlink {
  margin-bottom: 10px;
}

div.progress {
  margin-bottom: 7px !important;
}

div.list-group-item a.get-shortlink {
  margin-top: 10px;
}

div.world-container h4 {
  display: inline;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

span.copy-statistics {
  cursor: pointer;
}

input.clipboard {
  display: none;
}

div.col-kdr {
  padding-left: 0px !important;
}

div#message-container {
  padding-left: 0px;
  padding-right: 0px;
  width: auto;
}

ul.nav-pills {
  & a {
    cursor: pointer;
  }

  & > li {
    vertical-align: center;
    padding: 10px;

    & > a {
      min-height: 24px;
      padding: 0;
      line-height: 24px;
      font-family: "Roboto", sans-serif;
      font-size: 1.12em;
      font-weight: 300;

      & > i.icon {
        margin-right: 2px;
      }
    }
  }

  & > li.active {
    body.lightmode & {
      border-bottom: 3px solid $highlight-color;

      & > a {
        background-color: transparent !important;
        font-weight: 400;
        color: $highlight-color !important;
      }
    }

    body.darkmode & {
      border-bottom: 3px solid #fff;

      & > a {
        background-color: transparent !important;
        // font-weight: 600;

        color: #fff !important;
      }
    }
  }
}

a.branding,
a.branding:hover {
  text-decoration: none;
  font-family: "Cinzel", serif !important;
  font-size: 2em;
}

div.branding-container.active {
  body.darkmode & {
    border-bottom: 3px solid #fff;
  }

  body.lightmode & {
    border-bottom: 3px solid $highlight-color;
  }
}

div.header.disabled {
  pointer-events: none;
}

button.navbar-toggle {
  position: relative;
  top: -5px;
}

button.navbar-toggle span.icon-bar {
  background-color: #777;
}

button.navbar-toggle:hover span.icon-bar,
button.navbar-toggle:focus span.icon-bar,
button.navbar-toggle:active span.icon-bar {
  background-color: $highlight-color;
}

span.nightmode-switch {
  cursor: pointer;
  padding: 0;
  display: block;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.highlight {
  color: yellowgreen;
  text-shadow: 1px 1px 1px white;
}

table#table-world-ranking td:nth-child(3),
table#table-world-ranking td:nth-child(4),
table#table-world-ranking td:nth-child(5),
table#table-world-ranking td:nth-child(6),
table#table-world-ranking td:nth-child(7),
table#table-world-ranking td:nth-child(8) {
  text-align: right;
}

.clear-both {
  clear: both;
}

.matchlist-search {
  margin-top: -15px;
}

div.row.kd-total {
  border-top: 1px #555 solid;
  padding-top: 3px;
}

div#copy-timeslot {
  position: absolute;
}

div#copy-timeslot li {
  display: block;
  margin-bottom: 2px;
  height: 22px !important;
}

div#copy-timeslot li > a {
  width: 100%;
  border-radius: 0px;
  text-align: left;
}

span.context-header {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 1px 5px;
  width: 100%;
  display: block;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
}

.form-control:focus {
  border-color: $highlight-color-light;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $highlight-color-light;
}

#loading-container {
  min-height: 250px;
}

#loading-container > h3 {
  text-decoration: none;
  font-family: "Cinzel", serif !important;
  font-size: 1.6em;
  color: $highlight-color;
  text-align: center;
}

#loading-container > img {
  width: 150px;
  display: block;
  margin: 50px auto;
  animation: bounce 0.25s infinite alternate;
  -webkit-animation: bounce 0.25s infinite alternate;
  opacity: 0.2;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-15px);
  }
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* Icons */

i.icon {
  display: inline-block;
  background-image: url(../img/iconcollection.png);
  width: 24px;
  height: 24px;
  vertical-align: bottom;
}

i.icon.icon-nightmode {
  background-position: 0px 0px;
}

body.darkmode i.icon.icon-nightmode {
  background-position: -24px 0px;
}

i.icon.icon-ranking {
  background-position: -120px 0px;
}

i.icon.icon-badge-gold-small {
  width: 16px !important;
  height: 16px !important;
  background-position: -48px -24px;
  vertical-align: middle;
}

i.icon.icon-badge-kdr-small {
  width: 16px !important;
  height: 16px !important;
  background-position: -64px -24px;
  vertical-align: middle;
}

i.icon.icon-archive {
  background-position: -72px 0px;
}

i.icon.icon-current {
  background-position: -96px 0px;
}

i.icon.icon-timezone {
  background-position: -192px 0px;
}

@media screen and (max-width: 1023px) {
  .header {
    padding-bottom: 25px !important;
    border-bottom-width: 0px;
  }

  .content {
    padding: 0 15px !important;
    max-width: 720px;
  }

  .matchlist-search {
    width: 100%;
  }

  .matchlist-tier,
  .matchlist-region {
    display: inline !important;
    font-size: 22pt !important;
  }

  .matchlist-stat-container {
    display: none;
  }

  .matchlist-world-kd {
    float: right;
  }

  div.matchlist-world-container {
    left: -9px !important;
  }

  div#chart-container {
    width: auto !important;
  }

  div.information-addon {
    display: none;
  }

  .get-shortlink,
  .reload-chart {
    padding: 2px 3px;
    font-size: 10pt;
    margin: 0 3px 10px 3px !important;
  }

  .grp-options > button {
    padding: 2px 3px;
    font-size: 10pt;
  }

  div.grp-options {
    margin: 0 3px 10px 3px !important;
  }

  .col-world-name {
    float: left;
    width: 20%;
  }

  .col-world-kills {
    float: right;
    width: 60%;
  }

  .col-kdr {
    padding: 0px;
    float: right;
  }

  .world-container {
    margin-bottom: 10px;
  }
}
