/* Space out content a bit */

body {
  padding-top: 20px;
  padding-bottom: 20px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}


/* Custom page header */

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}


/* Custom page footer */

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


/* Customize container */

@media (min-width: 768px) {
  .container {
    max-width: 760px;
  }
}

@media (min-width: 1023px) {
  .container {
    max-width: 1000px;
  }
}

.container-narrow>hr {
  margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}


/* Supporting marketing content */

.marketing {
  margin: 40px 0;
}

.marketing p+h4 {
  margin-top: 28px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 1000px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  div#main-chart-container {
    width: 970px;
    position: relative;
  }
}

div#main-chart-container {
  min-height: 550px;
  padding: 10px;
}

div#matchlist-container {
  margin-bottom: 30px;
}

div.matchlist-eyecatcher {
  min-width: 90px;
  height: 100%;
  display: inline-block;
}

div.matchlist-world-container {
  position: relative;
  top: 2px;
}

div.matchlist-eyecatcher span.matchlist-region {
  font-size: 30pt;
  font-weight: bold;
  color: #ddd;
  text-align: right;
  padding-right: 15px;
  display: block;
}

div.matchlist-eyecatcher span.matchlist-tier {
  font-size: 13pt;
  font-weight: bold;
  color: #ddd;
  margin-top: -16px;
  text-align: right;
  padding-right: 15px;
  display: block;
}

div.list-group-item {
  padding: 2px 15px 10px 15px;
}

div#matchlist-container div.list-group-item:hover {
  background-color: #eee;
  cursor: pointer;
}

div#matchlist-container div.list-group-item:hover div.matchlist-eyecatcher span.matchlist-tier,
div#matchlist-container div.list-group-item:hover div.matchlist-eyecatcher span.matchlist-region {
  color: #ccc;
}

div.matchlist-worldlist span.world-color {
  padding-right: 6px;
  top: -1px;
  position: relative;
  font-size: 13pt;
  display: none;
}

a.match-container {
  color: #333;
  text-decoration: none;
  display: block;
  width: 100%;
  margin-left: 10px;
  margin-top: 5px;
}

h3#headline {
  cursor: pointer;
}

div.world-container>h4 {
  font-weight: bold;
}

div#match>a.get-shortlink {
  margin-bottom: 10px;
}

div.world-container h4 {
  display: inline;
  margin-right: 10px;
}

span.copy-statistics {
  cursor: pointer;
}

input.clipboard {
  display: none;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.highlight {
  color: yellowgreen;
  text-shadow: 1px 1px 1px white;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}