body {
    filter: invert(100%) hue-rotate(180deg) !important;
    text-shadow: 0 0 0 !important;
    background: #0d0d0d !important
}

a {
    color: black;
}

:not(object):not(body)>embed,
[style*="background:url"]:empty,
[style*="background-image:url"]:empty,
[style*="background: url"]:empty,
[style*="background-image: url"]:empty,
iframe,
img,
object,
svg image,
video,
i,
svg,
span.nightmode-switch,
i.icon,
.no-nightmode {
    filter: invert(100%) hue-rotate(180deg) !important;
    text-shadow: none !important;
}

.no-nightmode :not(object):not(body)>embed,
.no-nightmode [style*="background:url"]:empty,
.no-nightmode [style*="background-image:url"]:empty,
.no-nightmode [style*="background: url"]:empty,
.no-nightmode [style*="background-image: url"]:empty,
.no-nightmode iframe,
.no-nightmode img,
.no-nightmode object,
.no-nightmode svg image,
.no-nightmode video,
.no-nightmode i,
ul.nav-pills>li>a,
i.icon {
    filter: none !important;
}

a.btn.no-nightmode,
button.btn.no-nightmode {
    color: black;
}

span.label {
    color: black !important;
    background-color: white;
}

span.label.label-danger {
    outline: 1px #d9534f solid;
}

span.label.label-warning {
    outline: 1px #855109 solid;
}

span.label.label-default {
    outline: 1px #333 solid;
}

span.label.label-success {
    outline: 1px #5cb85c solid;
}

i.icon.icon-nightmode {
    background-position: -24px 0px;
}

div.modal-backdrop {
    background-color: #ddd !important;
}

ul.nav-pills>li.active,
div.branding-container.active {
    border-bottom: 3px solid #000 !important;
}

ul.nav-pills>li>a,
ul.nav-pills>li.active>a,
div.branding-container h3,
div.branding-container.active h3 {
    color: #000 !important;
}